<div class="col-xs-12">
    <h2>Mes appareils</h2>
    <p>Mis à jour : {{ lastUpdate| date: 'y MMMM EEEE d' | uppercase}}</p>
    <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i=index" [appareilName]="appareil.name" [appareilStatus]="appareil.status" [indexOfAppareil]="i" [id]="appareil.id"></app-appareil>
        <!-- Avant d utiliser les [appareilName] il faut definir les input dans appareil.components.ts -->
    </ul>
    <!--Pour lier un élément à une propriété on utilise les [] et pour le lier à un événement les () et on y met la methode-->
    <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
    <button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
</div>